<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<!-- mongodb instance -->
	<!-- <bean id="MongoFactory" class="com.aug3.storage.mongoclient.MongoFactory" 
		/> <bean id="mongo" factory-bean="MongoFactory" factory-method="newMongoInstance" 
		/> -->

	<!-- dao -->
	<bean id="userDao" class="com.aug3.yhyc.dao.UserDao" />

	<bean id="itemDao" class="com.aug3.yhyc.dao.ItemDao" />

	<bean id="shequDao" class="com.aug3.yhyc.dao.ShequDao" />
	
	<bean id="itemDao" class="com.aug3.yhyc.dao.ItemDao" />

	<!-- domain -->
	<bean id="userDomain" class="com.aug3.yhyc.domain.UserDomain">
		<property name="userDao" ref="userDao" />
	</bean>

	<bean id="shequDomain" class="com.aug3.yhyc.domain.ShequDomain">
		<property name="shequDao" ref="shequDao" />
	</bean>
	
	<bean id="itemDomain" class="com.aug3.yhyc.domain.ItemDomain">
		<property name="itemDao" ref="itemDao" />
	</bean>

	<!-- service -->
	<bean id="userService" class="com.aug3.yhyc.service.UserService">
		<property name="userDomain" ref="userDomain" />
	</bean>

	<bean id="shequService" class="com.aug3.yhyc.service.ShequService">
		<property name="shequDomain" ref="shequDomain" />
	</bean>
	
	<bean id="itemService" class="com.aug3.yhyc.service.ItemService">
		<property name="itemDomain" ref="itemDomain" />
	</bean>
</beans>

